@model IEnumerable<HubComercio.Models.Tenant>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeEstabelecimento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CNPJ)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataCadastro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ativo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LogoUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BannerUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CorPrincipal)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeEstabelecimento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CNPJ)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataCadastro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ativo)
            </td>
            <td>

                    @if (!string.IsNullOrEmpty(item.LogoUrl))
                    {
                        <img src="@item.LogoUrl" alt="Imagem" style="width:60px;height:60px;object-fit:cover;border-radius:8px;" />
                    }
                    else
                    {
                        <span class="text-muted">Sem imagem</span>
                    }
                
                </td>
            <td>
                 @if (!string.IsNullOrEmpty(item.BannerUrl))
                    {
                        <img src="@item.BannerUrl" alt="Imagem" style="width:60px;height:60px;object-fit:cover;border-radius:8px;" />
                    }
                    else
                    {
                        <span class="text-muted">Sem imagem</span>
                    }                
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CorPrincipal)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
